//fonts
$font-main: "Inter", sans-serif;

//colors
$font-main-color: #fff;
$font-color-dark: #3c3c3c;
$font-nav-color: #777;
$light-theme-back-color: #fff;
$card-border-color: #e5e5e5;
$theme-border-color: rgba(0, 0, 0, 0.2);
$main-green-color: #58cc02;
$sub-green-color: #3b8900;
$false-color: #ff4b4b;
$selected-color: #1cb0f6;
$selected-background-color: #ddf4ff;
$orange-color: #fd9800;

//vars
